# Avaliação

In [10]:
import sqlite3

In [11]:
name = 'escola.db'

script_alunos = """CREATE TABLE IF NOT EXISTS escola (
                id INTEGER PRIMARY KEY AUTOINCREMENT,
                nome TEXT NOT NULL,
                idade INTEGER NOT NULL,
                email TEXT NOT NULL
            );"""

try:
    with sqlite3.connect(name) as conn:

        cur = conn.cursor()
        cur.execute(script_alunos)
        conn.commit
        
        print('Criação da tabela bem sucedida')

except sqlite3.OperationalError as e:
    print('Criação da Tabela mal sucedida: ', e)

Criação da tabela bem sucedida

In [24]:
sql = "INSERT INTO escola (nome, idade, email) VALUES (?,?,?)"

try:
    with sqlite3.connect(name) as conn:

        cur = conn.cursor() 
        cur.execute(sql, ('Joãozinho',78, 'Joãozinho@gmail' ))
        cur.execute(sql, ('Joãozão',2, 'Joãozão@gmail' ))
        cur.execute(sql, ('Jonas',34, 'Jonaz@gmail' ))
        cur.execute(sql, ('Jotaro',41, 'Jotaro@gmail' ))
        cur.execute(sql, ('Joabson',9, 'Joabson@gmail' ))

        conn.commit()

except sqlite3.OperationalError as e:
    print('Erro: ', e)

In [30]:
sql = "SELECT * FROM escola"


try:
    with sqlite3.connect(name) as conn:
        cur = conn.cursor()
        cur.execute(sql)
        res = cur.fetchall()
        print(res)
except sqlite3.OperationalError as e:
    print("Erro: ", e)

[(1, 'Joviel', 78, 'Joãozinho@gmail'), (3, 'Jonas', 34, 'Jonaz@gmail'), (4, 'Jotaro', 41, 'Jotaro@gmail'), (5, 'Joabson', 9, 'Joabson@gmail'), (6, 'Joãozinho', 78, 'Joãozinho@gmail'), (7, 'Joãozão', 2, 'Joãozão@gmail'), (8, 'Jonas', 34, 'Jonaz@gmail'), (9, 'Jotaro', 41, 'Jotaro@gmail'), (10, 'Joabson', 9, 'Joabson@gmail')]

In [ ]:
sql = "UPDATE escola SET nome = ? SET email = ? WHERE id = ?"

try:
    with sqlite3.connect(name) as conn:
             
        cur = conn.cursor()
        cur.execute(sql, ('Joviel','Joviel@gmail', 1))
        conn.commit()


except sqlite3.OperationalError as e:
    print("ERRO: ", e)

In [29]:
sql = "DELETE FROM escola WHERE id = ?"

try:
    with sqlite3.connect(name) as conn:
            
        cur = conn.cursor()
        cur.execute(sql, (2,))
        conn.commit()
        


except sqlite3.OperationalError as e:
    print("ERRO: ", e)